<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>COVID 19_Daily Confirmed</title>
        <link rel="icon" href="https://image.flaticon.com/icons/svg/2913/2913584.svg" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../static/CSS/index.css">
    </head>
    <body body id="home" class="open-left">
        <main>
            <section class="intro" id="Top">
            </section>
        </main>
        <div class="chart">
            <h1>Daily Confirmed Cases</h1>
            <svg class="line-chart"></svg>
            <br>            
        </div>
        <div class="container"><a href="/" class="button">Home</a></div>
        
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="../static/JS/daily_confirmed.js"></script>
    </body>
</html>