<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>COVID 19_DV</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../static/CSS/index.css">
    </head>
    <body body id="home" class="open-left">
        <main>
            <section class="intro" id="Top">
            </section>
        </main>
        <div style="margin: 40px;text-align: center;">
            <h1>COVID 19 - DV Project</h1>
        </div>
        <div class="container">
        <a href="/confirmed_world" class="button">Confirmed</a>
        <a href="/deaths_world" class="button">Deaths</a>
        <a href="/recovered_world" class="button">Recovered</a>
        </div>
    </body>
</html>